
<footer>
    <nav class="footer-nav">
        <ul>
            <li> 
                <a href="/">
                    <img src="/assets/icons/vandaag-active.svg" alt="vandaag" width="30">
                </a>
            </li>
            <li> 
                <a href="/">
                    <img src="/assets/icons/praten.svg" alt="praten" width="30">
                </a>
            </li> 
            <li> 
                <a href="/">
                    <img src="/assets/icons/drops.svg" alt="drops" width="30">
                </a>
            </li> 
            <li> 
                <a href="/">
                    <img src="/assets/icons/profiel.svg" alt="profile" width="30">
                </a>
            </li>
        </ul>
    </nav>
</footer>