<header>
  <div class="header-top">
    <h1>{{ taskObject.title }}</h1>
    <button class="dropdown-btn" alt="drop rouwtaak menu">
      <i class="fa fa-caret-down"></i>
    </button>
  </div>
  
  <section class="progress-container">
    <progress value="10" max="100"></progress>
    <p>10% volbracht</p>
  </section>
</header>
